<section class="upcoming upcoming-js">
  <h2 class="upcoming__title">Upcoming this month</h2>
  <div>
    <img
      class="upcoming__movie-backdrop upcoming-movie-backdrop-js"
      src="#"
      alt=""
    />
    <div class="upcoming__movie-info">
      <h3 class="upcoming__movie-title upcoming-movie-title-js"></h3>
      <p class="upcoming__movie-release-date release-date-js">Release date</p>
      <p class="upcoming__movie-vote vote-js">Vote / Votes</p>
      <p class="upcoming__movie-popularity popularity-js">Popularity</p>
      <p class="upcoming__movie-genre genre-js">Genre</p>
      <p class="upcoming__movie-about about-js">About</p>
    </div>
  </div>
</section>
