.upcoming {
  &__title {
    text-transform: uppercase;
  }

  &__body {
    padding: 20px 0;
  }

  &__status-message {
    &--hidden {
      display: none;
    }
  }

  &__movie {
    display: flex;
    align-items: flex-start;

    &-backdrop {
      display: block;
      width: 50%;
      margin-right: 40px;
      object-fit: contain;
    }

    &-info {
      display: inline-block;
      vertical-align: top;
    }

    &-title {
      text-transform: uppercase;
    }

    &-stats {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
      max-width: 400px;
      margin: 20px 0;
    }

    &-stats-item {
      display: flex;
      justify-content: flex-start;
    }

    &-stats-label {
      flex: 1;
      margin-right: 30px;
    }

    &-stats-value {
      flex: 1;

      &--vote {
        display: flex;
      }
    }

    &-vote {
      min-width: 30px;
      padding: 1px 4px;
      color: #000;
      background-color: #fff;
      border-radius: 5px;
      text-align: center;
    }

    &-vote-divider {
      display: inline-block;
      margin: 0 8px;
    }

    &-about-title {
      margin-bottom: 20px;
    }

    &-about-text {
      max-height: 160px;
      overflow-y: auto;
    }

    &--hidden {
      display: none;
    }
  }
}
